@charset "utf-8";

@font-face {
    font-family: 'netmarbleB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.1/netmarbleB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'netmarbleL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.1/netmarbleL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'netmarbleM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.1/netmarbleM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('./woff2/PretendardVariable.woff2') format('woff2-variations');
}

*, *::after, *::before {
    box-sizing: border-box;
}
a {text-decoration: none; 
color: inherit;}

button {
    cursor: pointer;
}

body {
    width: 100%;
    height: 100%;
}

/* Header 부분 */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgba(255,226,0,0);
    z-index: 100;
    display: flex;
} /* 스크롤 시 색상 변경 시키기  */
.search {
    width: 50px;
    height: 50px;
    border: none;
    background-color: rgba(255,226,0,0);
    cursor: pointer;
}
.search img {
    width: 30px;
    top: 10px;
    left: 10px;
}
#logo {
    position: absolute;
    z-index: 10002;
    width: 130px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    line-height: 50px;
}
#logo img {
    width:130px;
}

/* header search */
.search_form {
    width: 100%;
    position: fixed;
    left: 60px;
    top: 7.5px;
    z-index: 10001;
}
#search-input {
    border: none;
    width: 0;
    height: 35px;
    line-height: 35px;
    border-radius: 50px;
    text-align: center;
    font-family: "netmarbleL";
    font-size: 16px;
    outline: none;
    opacity: 0;
}


/* ham button */
.ham_btn {
    width: 50px;
    height: 50px;
    border: none;
    background-color: rgba(255,226,0,0);
    cursor: pointer;
    position: absolute;
    right: 0;
    z-index: 10002;
}
.ham_btn span:nth-child(1) {
    top: 11px;
}
.ham_btn span:nth-child(2) {
    top: 22px;
}
.ham_btn span:nth-child(3) {
    top: 33px;
}
.ham_btn span {
    position: absolute;
    right: 10px;
    width: 30px;
    height: 4px;
    border-radius: 10px;
    /* background: #5C3722; */
    background: #fff;
    opacity: 1;
    transform: rotate(0deg);
}

/* 햄버거메뉴 */
.sub {
    display: none;
}
#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    z-index: 99999;
    background: #000;
}
.body_lock {
    height: 100%;
    overflow: hidden;
}
#hammenu {
    right: -80%;
    width: 80%;
    height: 100%;
    background: white;    
    position: fixed;
    top: 0;
    z-index: 100000;
}
#ham_logo {
    width: 130px;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
}
#ham_logo img {
    width:130px;
}
#ham_header {
    width: 100%;
    height: 50px;
    background: #ffe200;
}
    /* 햄메뉴close버튼 */
.close_ham {
    position: absolute;
    right: 0;
    top: 0;
}
.close_ham {
    width: 50px;
    height: 50px;
    border: none;
    background: #ffe200;
    cursor: pointer;
}
.close_ham span:nth-child(1) {
    top: 11px;
}
.close_ham span:nth-child(2) {
    top: 22px;
}
.close_ham span:nth-child(3) {
    top: 33px;
}
.close_ham span {
    position: absolute;
    right: 10px;
    width: 30px;
    height: 4px;
    border-radius: 10px;
    background: #5C3722;
    opacity: 1;
    transform: rotate(0deg);
}

.close_ham span:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
}
.close_ham span:nth-child(2) {
    opacity: 0;
}
.close_ham span:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
}
    /* close버튼 끝 */
.main {
    font-family: "netmarbleB";
    font-size: 22px;
    margin-left: 15%;
    line-height: 30px;
    transition: .2s ease-in-out;
}
/* 메인-서브 혼합 */
.list_main {
    display: flex;
    position: relative;
    height: 30px;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.list_main li {
    color: #39221c;
}
.list_main:hover {
    transform: translateX(-5px);
}
.list_main:hover li {
    color: #e95559;
}
.list_main {
    transition: .2s ease-in-out;
    cursor: pointer;
}
.list_main li {
    color: #39221c;
}
.list_main:hover {
    transform: translateX(-5px);
}
.list_main:hover li {
    color: #e95559;
}

/* 메인만 있는 */
.list_main_nosub {
    display: flex;
    position: relative;
    height: 30px;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.list_main_nosub li {
    color: #39221c;
}
.list_main_nosub:hover {
    transform: translateX(-5px);
}
.list_main_nosub:hover li {
    color: #e95559;
}
.list_main_nosub {
    transition: .2s ease-in-out;
    cursor: pointer;
}
.list_main_nosub li {
    color: #39221c;
}
.list_main_nosub:hover {
    transform: translateX(-5px);
}
.list_main_nosub:hover li {
    color: #e95559;
}
/*  */

.sub a{
    display: inline-block;
    font-family: "pretendard semibold";
    font-size: 16px;
    margin-top: 10px;
    color: #39221c;
    transition: .2s ease-in-out;
}
.sub a:hover {
    transform: translateX(-5px);
    color: #e95559
}

#hamwrap {
    width: 80%;
    margin: 0 auto;
}

.login_main a {
    font-family: "netmarbleB";
    font-size: 22px;
    color: #39221c;
    transition: .2s ease-in-out;
}
.login_main a:hover {
    color: #e95559
}
.login_sub {
    font-family: "pretendard semibold";
    font-size: 12px;
    color: #39221c;
    transition: .2s ease-in-out;
}
.login_sub:hover {
    color:#e95559;
}

.login {
    width: 100%;
    display: flex;
    padding-top: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #cfcfcf;
}
.login a {
    width: 50px;
    height: 50px;
}
.login_icon img {
    height: 50px;
}
.login_text {
    width: 100%;
    height: 50px;
    margin-left: 10%;
}
.account {
    width: 100%;
    margin-top: 2px;
    display: flex;
}
.account div {
    display: inline-block;
    padding-right: 5%;
}

#hamwrap_menu>div {
    width: 100%;
    margin: 38px 0;
}
#hamwrap_menu {
    margin-left: 10%;
}

.icon {
    padding-left:5%;
}

.icon img {
    height:30px;
}
.open_list {
    position: absolute;
    right: 20%;
    top: 25%;
}
.sub li {
    height: 30px;
    line-height: 30px;
    position: relative;
    left: 40%;
}

/* hammenu 끝 */


/* 배너 */
#banner_wrap {
    width:100%;
    height: 75%;
    z-index:1;
    overflow: hidden;
}
#banner {
    width:100%;
    height: 80%;
    overflow:hidden;
    z-index: 2;
}
#banner_wrap::after {
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0; top: 0; content: "";
    background: linear-gradient(to bottom, 
    rgba(0,0,0,0.8)0,
    rgba(0,0,0,0)100%)
}

#slide_banner {
    width:100%;	
}
#slide_banner img{
    width:100%;
}

/* 배너 slick 컨트롤 버튼 */
#banner button {
    cursor: pointer;
}
#banner button::before {
    font-family: "xeicon";
    color: #fff;
    font-size:60px;
}
#slide_banner .slick-prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    border: none;
    background: none;
    font-size: 0;
    color: transparent;
}
#slide_banner .slick-prev::before {
    content:"\e93d";
}
#slide_banner .slick-next {
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    border: none;
    background: none;
    font-size: 0;
    color: transparent;
}
#slide_banner .slick-next::before {
    content:"\e940";
}
/* 배너 slick 인디케이터 (프레젠테이션) */
#slide_banner .slick-dots {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}
#slide_banner .slick-dots li {
    width: 20px;
    height: 20px;
    display: inline-block;
}
#slide_banner .slick-dots li button {
    font-size: 0;
    color: #fff;
    width: 15px; height: 15px;
    background: rgb(255, 255, 255);
    border-radius: 7.5px;
    border: none;
    box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.8);
}
#slide_banner .slick-dots .slick-active button {
    background: #ffe200;
}


/* 이벤트&뉴스 */
#Event_new {
    margin: 80px auto;
}
.section_head {
    margin: 30px 3% 0px 3%;
    font-family: "netmarbleB";
    height:30px;
    line-height: 30px;
}
.section_title {
    width: 50%;
    font-size: 26px;
    color: #39221c;
    margin-left: 2%;
    float: left;
    clear: both;
}
.more {
    float: right;
    display: flex;
    text-align: center;
    padding-right: 10px;
    transform: translateY(0%);
    transition: all 0.2s;
}
.more:hover {
    transform: translateY(-3%);
}
.more a:first-child{
    width: 100%;
    font-size: 14px;
    color: #78726d;
}
.more a img {
    margin-left: 5px;
    width: 13px;
    line-height: 30px;
}
.pg_text {
    width: 90%;
    height: 100px;
    margin: 15px auto;
    top: 50%;
    border-radius: 10px;
    box-shadow: 1px 8px 10px 2px rgba(0, 0, 0, .1);
    transform: translateY(0%);
    transition: all 0.2s;
}
.pg_text:hover {
    transform: translateY(-3%);

}
.pg_text a {
    position: relative;
    top: 20%;
    left: 5%;
}
.pg_text a:first-child {
    font-family: "pretendard Extrabold";
    font-size: 16px;
}
.pg_text a:last-child {
    font-family: "pretendard Medium";
    font-size: 12px;
    color: #78726d;
}

#event_SevenKnights {
    background: url(../img/event1.jpg) no-repeat;
    background-position: left;
    background-size: cover;
}
#event_grandcross {
    background: url(../img/event2.jpg) no-repeat;
    background-position: left;
    background-size: cover;
}
#event_TowerOfGod {
    background: url(../img/event3.jpg) no-repeat;
    background-position: left;
    background-size: cover;
}
#event_SevenSins {
    background: url(../img/event4.jpg) no-repeat;
    background-position: left;
    background-size: cover;
}
#event_2ndKingdom {
    background: url(../img/event5.jpg) no-repeat;
    background-position: left;
    background-size: cover;
}
#event_lvUpAlone {
    background: url(../img/event6.jpg) no-repeat;
    background-position: left;
    background-size: cover; 
}
/* section1 slick */
#pageAll .slick-dots {
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}
#pageAll .slick-dots li {
    width: 30px;
    height: 20px;
    display: inline-block;
}
#pageAll .slick-dots li button {
    font-size: 0;
    color: #fff;
    width: 15px; height: 15px;
    background: #cfcfcf;
    border-radius: 7.5px;
    border: none;
}
#pageAll .slick-dots .slick-active button {
    background: #ffe200;
}
/* slick 컨트롤 버튼 */
#pageAll button {
    cursor: pointer;
}
#pageAll button::before {
    font-family: "xeicon";
    color: #cfcfcf;
    font-size:20px;
}
#pageAll .slick-prev {
    position: absolute;
    left: 35%;
    bottom:-7%;
    border: none;
    background: none;
    font-size: 0;
    color: transparent;
}
#pageAll .slick-prev::before {
    content:"\e93d";
}
#pageAll .slick-next {
    position: absolute;
    right: 38%;
    bottom:-7%;
    border: none;
    background: none;
    font-size: 0;
    color: transparent;
}
#pageAll .slick-next::before {
    content:"\e940";
}


/* 채널넷마블 */
#ch_nmb {
    margin-top: 60px;
    width: 100%;
}
.ch_title {
    font-size: 26px;
    color: #39221c;
    float: left;
    clear: both;
    margin-right: 20px;
    margin-left: 2%;
}
#chn_logo img{
    float: left;
    width: 110px;
    margin-left: 0;
    margin-top: 5px;
}
#ch_video {
    margin-top: 20px;
    text-align: center;
}
#ch_thum {
    margin-top: 10px;
    overflow: hidden;
}

#ch_thum ul {
    width: 100%;
    font-family: 'pretendard Medium';
    color: #39221c;
    font-size: 16px;
    margin: 0 10px;
    opacity: 1;
    line-height: 1.3;
    transition: all 0.3s;
}
#ch_thum ul li:last-child {
    margin-top: 7px;
}
#ch_thum ul:hover {
    opacity: 0.8;
}
#ch_thum ul li img {
    width: 100%;
    height: 100%;
}
/* section2 - 컨트롤러 */
#ch_thum button {
    cursor: pointer;
}
#ch_thum button::before {
    font-family: "xeicon";
    color: #39221c;
    font-size:30px;
    font-weight: 700;
    position: relative;
    right: 7px;
}
#ch_thum .slick-prev {
    position: absolute;
    top: 30%;
    left: 0;
    z-index: 10;
    height: 50px;
    width: 30px;
    border: none;
    background: #ffe200;
    font-size: 0;
    color: transparent;
}
#ch_thum .slick-prev::before {
    content:"\e93d";
}
#ch_thum .slick-next {
    position: absolute;
    top: 30%;
    right: 0;
    z-index: 10;
    height: 50px;
    width: 30px;
    border: none;
    background: #ffe200;
    font-size: 0;
    color: transparent;
}
#ch_thum .slick-next::before {
    content:"\e940";
}


/* 인기게임 */
#games {
    margin-top: 50px;
}
.games {
    width: 93.75%;
    height: 200px;
    margin: 15px auto;
    top: 50%;
    border-radius: 10px;
    box-shadow: 1px 8px 10px 2px rgba(0, 0, 0, .1);
    cursor: pointer;
}
.game_site_link {
    transform: translateY(0%);
    transition: all 0.2s;
}
.game_site_link:hover {
    transform: translateY(-3%);
}
.game1 {
    background: url(../img/game1_1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.game2 {
    background: url(../img/game2_2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.game3 {
    background: url(../img/game3_1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.game4 {
    background: url(../img/game4_1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.game5 {
    background: url(../img/game5.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.game6 {
    background: url(../img/game6_1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.game_link {
    margin-bottom: 30px;
    height: 22px;
    line-height: 22px;
    transform: translateY(0%);
    transition: all 0.2s;
}
.game_link_left {
    float: left;
    margin-left: 20px;
}
.game_link_title {
    font-family: "netmarbleB";
    font-size: 22px;
    color: #39221c;
    line-height: 22px;
}
.game_link_title:hover {
    color: #ffc400;
}
.game_link_category {
    font-family: "pretendard ExtraLight";
    font-size: 14px;
    position: relative;
    margin-left: 10px;
    top:-3px;
    color: #78726d;
}
.game_link_right {
    float: right;
    margin-right: 25px;
}
.game_link_right img {
    height: 15px;
}
.moregame {
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #e8e8e8;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #e8e8e8;
    font-family: "pretendard Extrabold";
    font-size: 16px;
    padding: 10px;
}
.moregame:hover {
    background-color: #e8e8e8;
    color: #e95559;
}

/* footer */
footer {
    width: 100%;
    height: 230px;
    margin-top: 50px;
    background: #241612;
    color: #fff;
    font-family: "pretendard ExtraLight";
    font-size: 12px;
    
}
#moveTop {
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #fff;
    cursor: pointer;
    font-family: "pretendard ExtraLight";
    font-size: 16px;
    background: #241612;
    border: none;
    border-bottom: 1px solid #3a2e2a;
}
footer h1 img {
    width: 50px;
}
footer h1 {
    margin-top: 20px;
    text-align: center;
}
#sns {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 20px 0 5px 0;
}
#sns li a img {
    height: 20px;
    margin: 5px;
}
#footer_txt{
    display: flex;
    justify-content: center;
}
#footer_txt li {
    padding: 0 10px 0 10px;
    border-left: 1px solid #fff;
}
#footer_txt li:first-child {
    border: none;
    padding-left: 0;
}
address {
    margin-top: 10px;
    text-align: center;
}

